/* Add a black background color to the top navigation */
.topnav {
  background-color: #2B649C;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.title {
  float: left;
  color: #ffffff;
  padding: 14px 16px;
  font-family: arial
}

/* Change the color of links on hover */
.topnav a:hover {
  color: #B6CF77;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: #B6CF77;
}


body {
  font-family: 'Fjalla One', sans-serif;
  margin: 0;
}
